{% extends 'base.html' %}


{% block content %}
<!-- Content Start -->
<main>
    <div class="content">
        <section id="aboutme">
            <div class="container">

                <div class="aboutme">
                    <div class="title">
                        <h1>ABOUT ME</h1>
                        <span>ABOUT ME</span>
                    </div>

                    <div class="content-aboumtme">
                        <div class="img">
                            <img src="/img/about-image.jpg" alt="">
                        </div>
                        <div class="info">
                            <h1>I am <span>Safaraliyev Elmir</span></h1>

                            <p>I am a frontend web developer. I can provide clean code and pixel perfect design. I also
                                make website more & more interactive with web animations.</p>

                            <table>
                                <tbody>
                                    <tr>
                                        <td>Full name</td>
                                        <td class="info-2">Elmir</td>
                                    </tr>
                                    <tr>
                                        <td>Mark</td>
                                        <td class="info-2">Otto</td>
                                    </tr>
                                    <tr>
                                        <td>Mark</td>
                                        <td class="info-2">Otto</td>
                                    </tr>
                                    <tr>
                                        <td>Mark</td>
                                        <td class="info-2">Otto</td>
                                    </tr>
                                </tbody>
                            </table>

                            <button>
                                <a href=""></a>
                                Download CV
                            </button>
                        </div>
                    </div>
                </div>

                <div class="services">
                    <div class="title">
                        <h1>SERVICES</h1>
                        <span>SERVICES</span>
                    </div>

                    <div class="content-services">
                        <div class="service-box">
                            <div class="icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="title-service">Front-End</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur ratione quod.</p>
                        </div>
                        <div class="service-box">
                            <div class="icon">
                                <i class="fas fa-database"></i>
                            </div>
                            <div class="title-service">Back-End</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur ratione quod.</p>
                        </div>
                        <div class="service-box">
                            <div class="icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="title-service">Front-End</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur ratione quod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Content End -->
{% endblock content %}
