{% extends 'base.html' %}
{% load static %}


{% block content %}
<main>
    <div class="content">
        <section id="index">
            <div id="particles-js"></div>
            <div class="inner">
                <div class="main">
                    <div class="col">

                        <div class="header">
                            <div class="text">
                                <h1>Hi, I am <span>{{person.full_name}}</span></h1>
                                <p>{{person.about_me}}</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="{{person.github_profile}}"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="{{person.linkedin_profile}}"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock content %}


{% block js %}
<!-- Particular Js -->
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{% static 'js/pj.js' %}"></script>
{% endblock js %}


